<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ParcialDos</title>
    <link rel="stylesheet" type="text/css" href="/css/inicio.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
</head>
<body>
    <header>
        <h1></h1>
    </header>
    
    <a href="/?inicio=inicio">
    <button>Inicio</button>
    </a>
    <a href="/?proyectos=proyectos">
    <button>Proyectos</button>
    </a>
    <a href="/?contacto=contacto">
    <button>Contacto</button>
    </a>
</body>
</html>